.container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 100px auto;
}

.container .banner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
    width: 100%;
    height: 420px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 80px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background: #dddcee;
}

.container .banner.active {
    background: #6969b4;
}

.container .banner .box {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .banner .box h2 {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.container .banner .box button {
    border: none;
    background: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.container .form {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.container .form.active {
    left: 50%;
}

.container .form .signin {
    position: absolute;
    left: 0;
    width: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.container .form .signin.active {
    left: -100%;
}

.container .form .signup {
    position: absolute;
    left: 0;
    width: 100%;
    transition: 0.5s;
    left: 100%;
    transition-delay: 0.25s;
}

.container .form .signup.active {
    left: 0;
    transition-delay: 0.25s;
}
