.container {
    padding: 30px;
}

.container div {
    border-bottom: 1px solid #898989;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.container div h1 {
    font-size: 1.2rem;
}

.container div button {
    height: 100%;
    border: none;
    display: flex;
    line-height: 30px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.container div button svg {
    width: 15px;
    height: 100%;
    margin-right: 5px;
    margin-top: 7px;
}

.container ul {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.container ul li {
    box-sizing: content-box;
    width: 25%;
    /* height: 200px; */
    /* padding: 5px; */
}

.container ul li img {
    padding: 5%;
    width: 95%;
    /* height: 95%; */
}
